body {
    font-family: "Georgia", sans-serif;
}

img {
    max-width: 100%
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.author {
    position: absolute;
    bottom: 0;
    left: 0;
}

.RecipeTitle {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}