body {
    font-family: "Georgia", sans-serif;
}

img {
    max-width: 100%
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Create two equal columns that floats next to each other */
.column {
    float: none;
    width: 50%;
    padding: 10px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.column2 {
     float: left;
    width: 50%;
    padding: 10px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    position: relative;   
}

.row {
    display: table;
    clear: both;
    height: 50%;  
}

.rowfullsize {
    display: block;
    clear: both;
    height: 50%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height: 50%;
}

.author {
    position: absolute;
    bottom: 0;
    left: 0;
}

.RecipeTitle {
    text-align: center;
}