a:link {
    color: orange;
}

a:visited {
    color: orange;
}

a:hover {
    color: purple;
}

a:active {
    color: orange;
}

div.Boo-zyCocktails {
    background-color: black;
    color: white;
    height: 350px;
    margin: 100px 0 20px 0;
    padding: 20px;
}